.good-link {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    background-image: url("../../image/more.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    margin: 0 auto;
    padding-left: 20px;
}